@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  font-family: "Roboto";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #FC00FF, #00DBDE);
  align-items: center;
  justify-content: center;
  display: flex;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: none;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #66CB92;
  color: white;
  padding: 80px;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back > h4{
  background-color: #66CB92;
  width: 100%;
  align-items: center;
}

.eredmenyGomb{
  border: none;
  background: transparent;
  gap: 50px;
  margin: 20px 20px 0px 20px;
}

.eredmenyGomb > i{
  font-size: 40px;
}

.eredmenyGomb  .fa-circle-check{
  color: #66CB92;
}

.eredmenyGomb .fa-circle-xmark{
  color: #FF9396;
}

.gombok{
  position: fixed;
  bottom: 20px;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.gomb{
  background-color: white;
  border: none;
  padding: 20px 10px;
  width: 70%;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
}

.PBar{
  text-align: center;
  color: white;
  margin: 20px;
}